@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;700&display=swap');

:root {

--fonte1: Verdana, Geneva, Tahoma, sans-serif;
--fonte-principal: 'Zilla Slab', serif;
--fonte-paragrafos: 'Chakra Petch', sans-serif;

--color-purple: #31124C; 
--color-blue-first: #011222;
--color-blue-second: #07334C; 
--color-blue-light: #64E3FF;
--color-acqua: #D5FDFF;  

}

* {
    font-size: 1em;
}