.main-header {
    height: 90px;
    width: 100%;
    padding: 1rem;
    background-color:var(--color-azul-escuro1);
}

.main-header .div-wrapper {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color:var(--color-azul-escuro1);
}

.main-header img {
    width: 65px;
}

.menu-header {
    display: flex;
}

.menu-header a{
    display: block;
    padding: .9rem;
    color: var(--color-branco);
    font-family: var(--fonte-principal);
}
.menu-header a:hover {
    color: var(--color-azul-claro2);
}

.btn-mobile {
    display: none;
}

/* form */

.main-header .form-menu {
    border: 2px solid var(--color-azul-claro2);
    border-radius: 15px;
    display: flex;
    padding-left: 10px;
}

.main-header .form-menu input {
    background-color: var(--color-azul-escuro1);
    border: none;
    color: var(--color-branco);
}

.main-header .form-menu input:focus, select:focus{
    outline: 0;
}

.main-header .form-menu button {
    color: var(--color-purple);
    background-color: var(--color-azul-claro2);
    border: 2px solid var(--color-azul-claro2);
    border-radius: 10px;
    font-family: var(--fonte-paragrafos);
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 1100px){
    .menu-header {
       display: none;
       position: absolute;
       width: 100%;
       height: calc(100vh - 70px);       
       top:70px;
       right: 0px;
       background-color:var(--color-azul-escuro1);
       z-index: 1000;       
    }
    .nav-header.active .menu-header {
        display: block;
    }
    .menu-header a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    .btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    .mobile-hamburguer {
        width: 20px;
        border-top: 3px solid; 
    }
    .mobile-hamburguer::after, .mobile-hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        border-top: 1px solid;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .nav-header.active .mobile-hamburguer {
        border-top-color: transparent;
    }
    .nav-header.active .mobile-hamburguer::before{
        transform: rotate(45deg);
    }
    .nav-header.active .mobile-hamburguer::after{
        transform: rotate(-45deg);
        top:-7px;
    }
    .main-header .form-menu {
        display: none;
    }
}





