#main {
    max-width: 1400px;
    margin: auto;
    padding-top: 60px;
}

#main .section-novidades {
    display: flex;
    justify-content: space-between;
}

#main .section-novidades img{
    width: 90%;
}

#main article{
    display: flex;
    flex-direction: column;
}

#main .section-novidades .link-imagem{
    text-decoration: none;
    margin-top: 10px;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--color-blue-second);
    font-family: var(--fonte-paragrafos);
}

#main .section-novidades .titulo-noticia {
    margin-top: 15px;
}
#main .section-novidades .titulo-noticia a{
    font-size: 1.9em;
    font-weight: bold;
    color: var(--color-blue-first);
    font-family: var(--fonte-paragrafos);
}